<<<<<<< HEAD
<h1>Restaurants</h1>

<!-- <% @restaurants = Restaurant.all %> -->
<% @restaurants.each do |restaurant| %>
  <!-- <%= restaurant.name %> -->
<%= render 'restaurant', restaurant: restaurant %>

  <% end %>
=======
<h1>Restaurants#index</h1>

<% @restaurants.each do |current_restaurant|%>
<%= current_restaurant.name%><br />
<%end%>
>>>>>>> 5538de549def0c7344fc8f32a973ef4376cecf2b
