<h1>Restaurants</h1>

<!-- <% @restaurants = Restaurant.all %> -->
<% @restaurants.each do |restaurant| %>
  <!-- <%= restaurant.name %> -->
<%= render 'restaurant', restaurant: restaurant %>

  <% end %>
