/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 html {
   /*background-color:rgb(140, 140, 140);*/
 }
header{
  line-height: 0;
}
 /*.main_title {
  font-size: 50px;
 }*/

.field {
  border: 4px;
  border-color: blue;
}
 h1 {
  font-size: 2.25rem;
  /* 14 x 3 = 42? */
  font-family: Oswald, Helvetica, Arial, sans-serif;
  /*margin-bottom: 0.5em;*/
  line-height: 1.25em;
  text-transform: uppercase;
  text-align: center;

}
footer {
  text-align: center;
  color: black;
  width: 100%;

}

 .sign {
   float: right;
   font-size: 20px;
  font-family: sans-serif;
 }
 .nav {
  background-color: rgba(238, 8, 8, 0.52);
  overflow: hidden; }

img {
  width: 100%;
}

 .container {
  width: 80%;
  margin: 0 auto; }

  .userinfo {
      text-align: center;
      /*padding: 20px;*/
  }

input{

  border: 1px solid black;
}
  form
  {
    text-align: center;
  }

 .search {
  text-align: center;
   margin: 80px;

 }
